<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079130710727-1q3apoeec1as4uovjfiskk0lp0pgfhvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079130710727-1q3apoeec1as4uovjfiskk0lp0pgfhvk</string>
	<key>API_KEY</key>
	<string>AIzaSyBIh561OL1dPL3LfLT2WCI6fvOy3UaYn68</string>
	<key>GCM_SENDER_ID</key>
	<string>1079130710727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.classesApp</string>
	<key>PROJECT_ID</key>
	<string>test-me-7890a</string>
	<key>STORAGE_BUCKET</key>
	<string>test-me-7890a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079130710727:ios:9bd7f4d909e1c47d9014e2</string>
	<key>DATABASE_URL</key>
	<string>https://test-me-7890a.firebaseio.com</string>
</dict>
</plist>